* {
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif;
}
body {
  width: 800px;
  margin: 0 auto;
  background: #fafafa;
  position: relative;
}
h1 {
  /* padding: 5px 10px 0; */
  text-align: center;
}
h4 {
  text-align: center;
  border-bottom: 2px solid #2980b9;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: #333333;
  font-weight: normal;
}
h2,
a {
  color: #2980b9;
  font-size: 15px;
  margin-top: 0;
}
a {
  font-size: 13px;
}
h5 {
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: 100% 0;
  transform: rotate(-90deg);
  font-size: 23px;
  margin-right: 30px;
  color: rgba(41, 128, 185, 0.37);
}

h2 {
  line-height: 23px;
}

ul {
  margin: 5px 15px 8px 0;
}
ul li {
  margin-left: 25px;
  font-size: 12px;
  margin-bottom: 5px;
}

hr {
  display: block;
  width: 60%;
  margin: 0 auto;
  height: 0;
  border: none;
  border-top: solid 1px #a4d7f9;
}

.photo {
  top: -4px;
  right: 65px;
  position: absolute;
  width: 85px;
  height: 85px;
  border-radius: 100%;
  overflow: hidden;
}
.photo img {
  width: 100px;
  margin-left: -6px;
  margin-top: -3px;
}

.details {
  font-size: 11px;
  color: #444444;
  font-style: italic;
  font-weight: normal;
}

.clear {
  clear: both;
}

div.skills {
  margin-top: 10px;
}
div.contact {
  margin: 5px 0;
  padding: 5px;
  padding-bottom: 6px;
  background: #fff;
  padding-left: 15px;
}
div.skills > div,
div.formations,
div.career,
div.hobbies > div,
div.projects {
  margin: 1px 0;
  padding-bottom: 7px;
  padding-left: 15px;
  background: #fff;
}
.colums {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.career {
  min-height: 140px;
  margin-top: 8px;
}
div.career div.position:first-of-type {
  margin: 0;
}
div.career div.position {
  line-height: 16px;
  margin-top: 25px;
}

div.contact div {
  width: 50%;
}
div.contact div span {
  display: block;
  font-size: 13px;
  margin-bottom: 3px;
}
div.contact div span.github a,
div.contact div span.linkedin a {
  background: url(photoCV/github.png)
    no-repeat left center;
  background-size: 17px 17px;
  padding: 5px 0 5px 21px;
}
div.contact div span.linkedin a {
  background-image: url(photoCV/linkedin.png);
}
div.contact div:nth-of-type(1) {
  float: left;
  text-align: left;
}
div.contact div:nth-of-type(2) {
  float: right;
  text-align: right;
}

span.date {
  font-size: 12px;
  color: #555555;
}
span.ctx {
  font-size: 13px;
  font-weight: bold;
}

div.projects div p {
  font-size: 12px;
  padding: 3px;
}

div.projects,
div.career,
div.formations {
  position: relative;
}
div.formations {
  margin-top : 8px;
}
div.formations .cursus {
  margin: 7px 0;
}
div.formations .cursus h2 {
  font-size: 15px;
  line-height: 20px;
  padding-top: 2px;
}
div.skills {
  margin-top: 8px;
  padding-bottom: 5px;
}
div.hobbies {
  margin-top: 8px;
  padding-bottom: 0px;
}
div.skills,
div.hobbies {
  display: flex;
  position: relative;
}
div.skills > div,
div.hobbies > div {
  width: calc(50% - 10px);
  margin-top: 0;
}
div.hobbies div:nth-of-type(1),
div.skills div:nth-of-type(1) {
  margin-right: 10px;
}
div.skills div h2,
div.hobbies div h2 {
  text-align: center;
  font-size: 15px;
  font-weight: normal;
}
div.skills div h3 {
  margin-top: 5px;
  font-size: 18px;
  font-weight: normal;
}
div.skills div ul li {
  font-weight: bold;
}
div.skills div:nth-of-type(2) {
  float: right;
}
